<%#
  Picture element that uses <picture> to attempt to use WebP versions of images, if browser
  supports them.

  Requires:
    @conn
    @src Filename, extension will be replaced with `.webp` for WebP version. static_path will be
      called to get the real path.
    @alt Alt text
    @title Title text

  Optional:
    @id ID to add to the picture element.
    @img_id ID to add to the img element.
    @class Class to add to the picture element.
    @img_class Class to add to the img element.
%>

<%
  no_ext = Path.rootname(@src)

  type =
    @src
    |> Path.extname()
    |> String.downcase()
    |> case do
      ".jpeg" -> "image/jpeg"
      ".jpg" -> "image/jpeg"
      ".png" -> "image/png"
      ".gif" -> "image/gif"
    end
%>

<picture
 <%= if assigns[:id], do: raw(~s(id="#{@id}")), else: "" %>
 <%= if assigns[:class], do: raw(~s(class="#{@class}")), else: "" %>
>
  <source srcset="<%= static_path(@conn, no_ext <> ".webp") %>" type="image/webp" />
  <source srcset="<%= static_path(@conn, @src) %>" type="<%= type %>" />
  <img
   src=<%= static_path(@conn, @src) %>
   alt="<%= @alt %>"
   title="<%= @title %>"
   <%= if assigns[:img_id], do: raw(~s(id="#{@img_id}")), else: "" %>
   <%= if assigns[:img_class], do: raw(~s(class="#{@img_class}")), else: "" %>
  />
</picture>
