<div class="stripe">
  <h1>Log in</h1>
  <%= form_tag("", method: :post) %>
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="<%= assigns[:username_input] %>" required />

    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required />

    <label for="remember-me">Remember me</label>
    <input type="checkbox" class="" id="remember-me" name="remember-me" />

    <div class="submit"><button type="submit">Submit</button></div>
  </form>

  <h2>Forgot your password?</h2>

  <p>
    If you forgot your password, <a href="<%= auth_path(@conn, :render_forgot) %>">proceed to the password reset form</a>. If you have not added an email address to your account, it cannot be recovered.
  </p>
</div>
